/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    height: 100%;
    width: 15%;
    left: 0;
    background-color: lightgrey;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the right side */
.right {
    height: 100%;
    width: 80%;
    right: 0;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* If you want the content centered horizontally and vertically */
.menu {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding-left: 1px;

}

#top,
#bottom {
    position: fixed;
    left: 15%;
    right: 0;
    height: 50%;
}

#top {
    top: 0;
    background-color: black;
}

#bottom {
    bottom: 0;
    background-color: white;
}

.resolution_before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration-color: white;

}
.resolution_after {
    position: absolute;
    top: 10%;
    left: 12%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding-left: 1px;
    visibility: hidden;

}

#myCanvas {
    cursor: crosshair;
    position: fixed;
}